<br><br><div class="container">
    <h1>Logistica Terrestre</h1>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
    
            <div class="col-sm-4">
                <h3>Registrar Logistica Terretre</h3><br><br>
                <form novalidate [formGroup]="logisticaTerrestre" (ngSubmit)="crear()">
                   
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Tipo Producto</label>
                          <select class="form-select" aria-label="Tipo Producto" formControlName="tipoProducto">
                            <option [ngValue]="tipoProducto" *ngFor="let tipoProducto of tipoProducto">{{tipoProducto.nombreProducto}}</option>
                          </select>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Cantidad</label>
                          <input type="number" [(ngModel)]="cantidadProducto" formControlName="cantidadProducto" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Cliente</label>
                            <select class="form-select" aria-label="Bodega" formControlName="cliente">
                                <option [ngValue]="cliente" *ngFor="let cliente of clientes">{{cliente.nombre}} {{ cliente.apellido}}{{cliente.numeroIdentificacion}}</option>
                              </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Bodega</label>
                            <select class="form-select" aria-label="Bodega" formControlName="bodega">
                                <option [ngValue]="bodega" *ngFor="let bodega of bodegas">{{bodega.nombreBodega}}</option>
                              </select>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Vehiculo</label>
                            <select class="form-select" aria-label="Vehiculo" formControlName="vehiculo">
                              <option [ngValue]="vehiculo" *ngFor="let vehiculo of vehiculos">{{vehiculo.placa}}</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Fecha de Entrega</label>
                          <input type="date"  formControlName="fechaEntrega"> 
                        </div>
                       
                          <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Precio</label>
                            <input type="number" class="form-control" id="precio"   [(ngModel)]="precio" formControlName="precio">
                            <label  class="form-label">Precio Normal: $ {{precio}}</label><br>
                            <label  class="form-label" *ngIf="cantidadProducto>10">Precio con descuento: ${{precio-(precio*0.03)}}</label>
                          </div>
                        <button type="submit" class="btn btn-primary">Registrar</button>
                    
                </form>
    
            </div>
            <div class="col-sm-8">
                   <h3 style="text-align: center;">Ver Logisticas Terretres</h3> <br><br>
                   <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">GUIA</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Fecha RE</th>
                        <th scope="col">FEcha Ent</th>
                        <th scope="col">Vehiculo</th>
                        <th scope="col">Bodega</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let logistica of logisticaTerrestres">
                        <td>{{logistica.numeroGuia}}</td>
                        <td>{{logistica.cliente.nombre}} {{logistica.cliente.apellido}}</td>
                        <td>{{logistica.precioEnvio}}</td>
                        <td>{{logistica.fechaRegistro | date: 'shortDate'}}</td>
                        <td>{{logistica.fechaEntrega | date: 'shortDate'}}</td>
                        <td>{{logistica.vehiculo.placa}}</td>
                        <td>{{logistica.bodega.nombreBodega}}</td>
                       </tr>
                 
                    </tbody>
                  </table>
            </div>
        </div>
    </div>